<!DOCTYPE html>

<html lang="cs-CZ">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta name="robots" content="noindex, nofollow, noarchive, nosnippet">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link href="{$basePath}/favicon.ico" rel="icon" type="image/x-icon">
	<title>{ifset title}{include title|stripHtml} | {/ifset}ThermoWhite Moravia office</title>
	<script src="{$basePath}/JS/jquery.min.js"></script>     
    <script src="{$basePath}/JS/jquery-ui.min.js"></script>     
	<link rel="stylesheet" href="{$basePath}/CSS/style.css">		
	
	<!--wysiwyg editor (https://summernote.org/)-->
	<link rel="stylesheet" href="{$basePath}/CSS/summernote.css">			
	<script src="{$basePath}/JS/summernote.js"></script>
	<script src="{$basePath}/JS/lang/summernote-cs-CZ.js"></script>
	<script src="{$basePath}/JS/popper.min.js"></script>
	<!--wysiwyg editor END-->
	{*<!--SCRIPT bootstrap & javascript-->*}
		<script src="{$basePath}/JS/bootstrap.bundle.min.js"></script>
		<script src="{$basePath}/JS/bootstrap.min.js"></script>
	
	{*<!--SCRIPT bootstrap & javascript END-->*}
	
	<link rel="stylesheet" href="{$basePath}/JS/jquery-ui.min.css">	
	<script src="{$basePath}/JS/NETTEajax/nette.ajax.js"></script>
<!--CSS bootstrap-->
	
	<link rel="stylesheet" href="{$basePath}/CSS/bootstrap.min.css">
		 <link rel="stylesheet" href="{$basePath}/CSS/bootstrap-grid.min.css">
		 <link rel="stylesheet" href="{$basePath}/CSS/bootstrap-reboot.min.css">		
	<!--CSS bootstrap END-->
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    
<!-- Informační modal okno -->
<div class="modal fade" id="modalFlashMessage" tabindex="-1" role="dialog" aria-labelledby="modalFlashMessage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFlashMessageTitle">Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalFlashMessageHtml">
            <!-- obsah sdělení -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>        
      </div>
    </div>
  </div>
</div>
    
	{include content}

<footer class="container mt-5">
    <p>ThermoWhite Moravia s.r.o &copy; Martin Hubička 2018-{="now"|date:'Y'}</p>
</footer>	

	
	<script>
          $.datepicker.regional['cs'] = {
		closeText: 'Zavřít',
		prevText: '&#x3c;Dříve',
		nextText: 'Později&#x3e;',
		currentText: 'Nyní',
		monthNames: ['leden','únor','březen','duben','květen','červen','červenec','srpen','září','říjen','listopad','prosinec'],
		monthNamesShort: ['led','úno','bře','dub','kvě','čer','čvc','srp','zář','říj','lis','pro'],
		dayNames: ['neděle', 'pondělí', 'úterý', 'středa', 'čtvrtek', 'pátek', 'sobota'],
		dayNamesShort: ['ne', 'po', 'út', 'st', 'čt', 'pá', 'so'],
		dayNamesMin: ['ne','po','út','st','čt','pá','so'],
		weekHeader: 'Týd',
		dateFormat: 'dd.mm.yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
   	$.datepicker.setDefaults($.datepicker.regional['cs']);   
     $(".noCSS_f_datepicker_datum").datepicker($.datepicker.regional['cs']);
        	{block scripts}
      $(function () {
            $.nette.init();
        });
        
    $(document).off("focus","[selectOnFocus]").on("focus","[selectOnFocus]",  function(ev) { 
        $(this).selectText(); 
    });    
        
        
	$(document).ready(function() {
		

	  
});	
jQuery.fn.selectText = function(){
   var doc = document;
   var element = this[0];

   if (doc.body.createTextRange) {
       var range = document.body.createTextRange();
       range.moveToElementText(element);
       range.select();
   } else if (window.getSelection) {
       var selection = window.getSelection();        
       var range = document.createRange();
       range.selectNodeContents(element);
       selection.removeAllRanges();
       selection.addRange(range);
   }
};
function infoModal(htmlMessage="", title="Info"){
   $("#modalFlashMessageHtml").html(htmlMessage);    
   $("#modalFlashMessageTitle").text(title);        
   $('#modalFlashMessage').modal('show');
}

	</script>
	{/block}
</body>
</html>
