<!DOCTYPE html>

<html lang="cs-CZ">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta name="robots" content="noindex, nofollow, noarchive, nosnippet">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link href="{$basePath}/favicon.ico" rel="icon" type="image/x-icon">
	<title>{ifset title}{include title|stripHtml} | {/ifset}ThermoWhite Moravia office</title>
	<script src="{$basePath}/JS/jquery.min.js"></script>     
	<link rel="stylesheet" href="{$basePath}/CSS/style.css">		
	
	<!--wysiwyg editor (https://summernote.org/)-->
	<link rel="stylesheet" href="{$basePath}/CSS/summernote.css">			
	<script src="{$basePath}/JS/summernote.js"></script>
	<script src="{$basePath}/JS/lang/summernote-cs-CZ.js"></script>
	<script src="{$basePath}/JS/popper.min.js"></script>
	<!--wysiwyg editor END-->
	{*<!--SCRIPT bootstrap & javascript-->*}
		<script src="{$basePath}/JS/bootstrap.bundle.min.js"></script>
		<script src="{$basePath}/JS/bootstrap.min.js"></script>
	
	{*<!--SCRIPT bootstrap & javascript END-->*}
	
	<link rel="stylesheet" href="{$basePath}/JS/jquery-ui.min.css">	
	<script src="{$basePath}/JS/NETTEajax/nette.ajax.js"></script>
<!--CSS bootstrap-->
	
	<link rel="stylesheet" href="{$basePath}/CSS/bootstrap.min.css">
		 <link rel="stylesheet" href="{$basePath}/CSS/bootstrap-grid.min.css">
		 <link rel="stylesheet" href="{$basePath}/CSS/bootstrap-reboot.min.css">		
	<!--CSS bootstrap END-->
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

<footer class="container">
    <p>ThermoWhite Moravia s.r.o &copy; Martin Hubička 2018-{="now"|date:'Y'}</p>
</footer>	
	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script>
	$(document).ready(function() {
		
  $('.summernote').summernote({        
        lang: "cs-CZ",
	  popover: {
		  image: [],
		  link: [],
		  air: []
	  	}
    });
	  
});	
		
	</script>
	{/block}
</body>
</html>
