session:
	expiration: 30 days
	autoStart: true

parameters:
    database:
        host: localhost
        dbname: office
        user: martinhubicka 
        pass: Admin75@
    konstanty:	
        dph0: 0
        dph1: 0.15
        dph2: 0.21
        defsplatnostdny: 7
        defplatnostnab: 30
        systemmail: martin.hubicka@gmail.com
        adminmail: martin.hubicka@gmail.com        
        temppassmin: 60
        loginexpdays: 30 #musí být <= bež seesion expiration
        aresurl: 'http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_bas.cgi?aktivni=true'
        deftitle: DemoOffice
		  
database:
	dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'
	user: %database.user%
	password: %database.pass%

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	router: App\Router\RouterFactory::createRouter
	- App\Presenters\BasePresenter()
	#- App\Presenters\BasePresenter(%konstanty%)
	#- App\Model\BaseModel(%konstanty%)
	authenticator: App\Model\MyAuthenticator	
	authorizator: App\Model\MyAuthorizator
	tempStorage: App\Model\TempStorage
