
<html>
    header('Content-Type: application/pdf',charset=utf-8');
<style>
	@page { size: auto;
      header: html_dokumentHeader;
      footer: html_dokumentFooter;
		margin-top: 1cm;
		margin-bottom: 4.5cm;
		margin-left: .7cm;
		margin-right: .7cm; 
        background-image: url('.__DIR__.'/../../www/IM/pdffakturabottom.jpg); 
		background-image-resize: 4; 
		background-repeat:no-repeat; 
		background-position: bottom right;
		}
    .f10 { font-size: 10px; }
    .f12 { font-size: 12px; }
    .f14 { font-size: 14px; }    
    .f16 { font-size: 16px; }    
    .f18 { font-size: 18px; }
    .f22 { font-size: 22px; }
    .h2  { font-size: 20px; font-weight: normal; } 
    .h1 { font-size: 24px; font-weight: bold; }
    .textr { text-align: right;}
    .textl { text-align: left;}
    .textc { text-align: center;}
    .textb { font-weight: bold;}
	.dottedbot {
		border-bottom: 1px dotted silver;
	}
    .dottedtop {
		border-top: 1px dotted silver;
	}
    .gold { background-color: gold; }
    h3 { font-size: 16px; }
    .logo {  
        background-image: url('.__DIR__.'/../../www/IM/Logo.jpg); 		
        	background-image-resize: 4; 
        background-repeat: no-repeat; 
		background-position:   center -2cm;
     
    }
    table.rows {
        border: 1px solid whitesmoke;
        border-collapse: collapse; 
        
    }
    table.rows td { padding: 5px 5px 5px 5px; vertical-align: top; border: 1px solid whitesmoke;}
	table.rows th { background-color:whitesmoke; font-weight: normal; font-size: 14px; }
    
	</style>	
<body width="100%" height="100%">
<htmlpageheader name="dokumentHeader">
    
</htmlpageheader>
<htmlpagefooter name="dokumentFooter">
<table width="100%">
 <tr>
        <td width="15.5cm"  height="4cm" style="text-align: center; vertical-align: top">		  				  			  	
			<p class="f16">			
			{$this->getParameter('faktura')->zkraceny_nazev|upper}  {$this->getParameter('subject')['prefix']}/{$this->getParameter('faktura')->druh_dokladu}/{$this->getParameter('faktura')->refcislo} | <span class="f14">strana: {l}PAGENO{r}/{l}nbpg{r}</span> 
            </p>
			<br>
            <p class="f10">			
                {$this->getParameter('subject')['spisovaznacka']}
            </p>  											  			
		  </td>      
     <td></td>
    </tr>
</table>
</htmlpagefooter>	
<table width="100%">
  		<tr>				
			<td width="45%" height="2cm" class="logo" style="vertical-align: top; text-align: center;">
            <table style="margin-top: 3cm; padding: 5px 5px 5px 5px;" >			
            <tr>
				<td class="textl f12" >Dodavatel:</td>
			</tr>	
            <tr>
				<td class="textl f18">{$this->getParameter('faktura')->FIRMAD}
                   <br><span class="f14">
                IČO: {$this->getParameter('faktura')->ICOD}, DIČ: {$this->getParameter('faktura')->DICD}
                    </span>
                </td>		
			</tr>	
			<tr>	
				<td class="textl">{$this->getParameter('faktura')->PODNAZEVD}</td>		
			</tr>				
			<tr>				
				<td class="textl">{$this->getParameter('faktura')->ULICECPD}</td>				
			</tr>	
			<tr>				
				<td class="textl">{$this->getParameter('faktura')->MISTOD} {$this->getParameter('faktura')->PSCD} {$this->getParameter('faktura')->MESTOD}</td>				
			</tr>	
			<tr>				
				<td class="textl">{$this->getParameter('faktura')->STATD}</td>				
			</tr>			
			<tr>				
				<td class="textl"><br>{$this->getParameter('subject')['kontakt']|noescape}</td>				
			</tr>	
            <tr>
				<td class="textl f12" ><br>Platební údaje:</td>		
			</tr>	
			<tr>				
				<td class="textl textb">Variabilní symbol: {$this->getParameter('faktura')->refcislo}</td>				
			</tr>                            
            <tr>				
				<td class="textl">Banka: {$this->getParameter('faktura')->banka} </td>				
			</tr>	

            <tr>				
				<td class="textl">číslo účtu: {$this->getParameter('faktura')->ucet}</td>				
			</tr>
            </table>
        </td>
            <td width="1.5cm"></td>
            <td style="vertical-align: top; text-align: left;">
                <span class="h2">{$this->getParameter('faktura')->zkraceny_nazev|upper} číslo (daňový doklad):</span> <span class="h1">{$this->getParameter('subject')['prefix']}/{$this->getParameter('faktura')->druh_dokladu}/{$this->getParameter('faktura')->refcislo}</span>            
            {if ($this->getParameter('faktura')->ispdp > 0)} <h3 class="gold">&nbsp;přenesená daňová povinnost&nbsp;</h3>{/if}
            <table style="margin-top: 0.5cm; padding: 5px 5px 5px 5px;" >	
             <tr>
            <td>
            <table>    
                
            <tr>
				<td class="textr">Datum vytsavení: </td><td class="textl">{$this->getParameter('faktura')->dvystaveni}</td>		
			</tr>	
			<tr>	
				<td class="textr">Datum zd.plnění: </td><td class="textl">{$this->getParameter('faktura')->duzp}</td>		
			</tr>				
			<tr>				
				<td class="textr">Datum splatnosti: </td><td class="textl textb"> {$this->getParameter('splatnost')}</td>				
			</tr>
                </table>
             </td>
            </tr>    
                
            <tr>				
				<td class="textl"><br>Objednávka: {$this->getParameter('faktura')->objednavka}</td>				
			</tr>                                        
            <tr>
				<td class="textl f12" ><br>Odběratel:</td>		
			</tr>
            <tr>
				<td class="textl f18">{$this->getParameter('faktura')->FIRMAO}
                  {if $this->getParameter('faktura')->ICOO !== ''}
                    <br><span class="f14">
                IČO: {$this->getParameter('faktura')->ICOO}, DIČ: {$this->getParameter('faktura')->DICO}
                    </span>
                    {/if}
                </td>		
			</tr>	
			<tr>	
				<td class="textl">{$this->getParameter('faktura')->PODNAZEVO}</td>		
			</tr>				
			<tr>				
				<td class="textl">{$this->getParameter('faktura')->ULICECPO}</td>				
			</tr>	
			<tr>				
				<td class="textl">{$this->getParameter('faktura')->MISTOO} {$this->getParameter('faktura')->PSCO} {$this->getParameter('faktura')->MESTOO}</td>				
			</tr>	
			<tr>				
				<td class="textl">{$this->getParameter('faktura')->STATO}</td>				
			</tr>	

			<tr>				
				<td class="textl"><br>Místo určení/realizace:</td>				
			</tr>	
            <tr>				
				<td class="textl"><br>{$this->getParameter('faktura')->FIRMAM}</td>				
			</tr>	
			<tr>				
				<td class="textl">{$this->getParameter('faktura')->MISTOM}</td>				
			</tr>    
            </table>    
                
            </td>
            
		</tr>		
    
    
</table>
    
     {if isset($this->getParameter('faktura')->_DOM)}   
<table class="rows" style="margin-top: 0.5cm; margin-left:0.5cm;  margin-right:0.5cm;" width="100%">
    <thead>
    <tr>
        <th class="textc">položka</th>    
        <th class="textc">popis položky</th>    
        <th class="textc">množství</th>    
        <th class="textc">mj</th>    
        <th class="textc">cena/mj</th>    
        {if ($this->getParameter('faktura')->ispdp < 1)} <th class="textc">DPH</th>  {/if}
        <th class="textc">cena celkem</th>    
    </tr>
    </thead>
    <tbody>
    {var $dph = []}
    {var $zaklad = []}
    {var $suma = 0}   
    
    {foreach $this->getParameter('faktura')->_DOM as $polozka} 	
        {$soucty['dph'.$polozka["dph"]] = $polozka["dph"]}
        {if isset($zaklad['dph'.$polozka["dph"]])}        
        {$zaklad['dph'.$polozka["dph"]] = $zaklad['dph'.$polozka["dph"]] + ($polozka["vydej_mj"] * $polozka["cena_mj"] )}
        {else}
        {$zaklad['dph'.$polozka["dph"]] = ($polozka["vydej_mj"] * $polozka["cena_mj"])}
        {/if}
        {$suma = $suma + ($polozka["cena_mj"]*$polozka["vydej_mj"]*(1+$polozka["dph"]/100))}
        <tr>
        <td class="textc">{$polozka["skarta"]}</td>    
        <td class="textl">{$polozka["popis"]|noescape}</td>    
        <td class="textr">{$polozka["vydej_mj"]|number:2:',':' '}</td>    
        <td class="textl">{$polozka["mj"]}</td>    
        <td class="textr">{$polozka["cena_mj"]|number:2:',':' '} Kč</td>    
        {if ($this->getParameter('faktura')->ispdp < 1)} <td class="textc">{$polozka["dph"]|number:0:',':' '} %</td>  {/if}
        <td class="textr">{($polozka["cena_mj"]*$polozka["vydej_mj"]*(1+$polozka["dph"]/100))|number:2:',':' '} Kč</td>    
    </tr>
    {/foreach}	    
   
    </tbody>
</table>   
<table width="100%" style="margin-right: 0.5cm">
<tr>
<td width="55%" >
     {if ($this->getParameter('faktura')->ispdp > 0)}
        <p class="f12">
            Částka CELKEM k úhradě neobsahuje DPH.
Předmět plnění podléha režimu přenesené
daňové povinnosti podle § 92b-f zákona
č.235/2004 Sb. ve znění pozdějších
předpisů. <span class="gold">&nbsp;Pro příjemce plnění vzniká
povinnost daň přiznat a zaplatit. Daň odvede
zákazník.&nbsp;</span>
        </p>
     {/if}
    <br>{$this->getParameter('faktura')->TEXTY|noescape}
</td>    
<td class="textr">
    <table width="100%" style="margin-top: 0.5cm;" class="rows">
        <tr>
        <th class="textc">sazba DPH</th>        
        <th class="textc">základ</th>        
        <th class="textc">daň</th>        
        </tr>
         
        {foreach $soucty as $soucet} 
       
            
        <tr>
        <td class="textc">{$soucet|number:0:',':' '} %</td>
        <td class="textr">{$zaklad['dph'.$soucet]|number:2:',':' '} Kč</td>
        <td>{($zaklad['dph'.$soucet]*($soucet/100))|number:2:',':' '} Kč</td>
        
        </tr>
        {/foreach}
      
    </table>
</td>        
</tr>
<tr>
<td width="55%" class="textl" style="padding-left: 1cm;">Vystavil: {$this->getParameter('faktura')->fakturoval}</td>       
<td class="textr"><br><h3 class="textb">Částka celkem: {$suma|number:2:',':' '} Kč</h3></td>        
</tr>    

</table>
  {/if}
</body>
</html>	