<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <style>
		 body { font-size: 22px; }
    </style>
</head>
<body>    
    <h1>Resetované heslo k Demooffice</h1>
    <p>Na základě Vašeho požadavku, Vám bylo vygenerované náhradní heslo: <strong><span>{$temppass}</span></strong></p>	
    <p>Uvedené heslo je platné po dobu {$temppassmin} minut. Po přihlášení tímto heslem, bude vyzváni ke změně hesla dle vlastního vkusu.</p>	 
	<br>	 
    <p>K zabezpečení kanceláře je nedílnou součástí i klíč, který je bezpečnostní konstantou. Pokud jej nemůžete dohledat, požádejte emailem o jeho zaslání na adrese <a href="mailto:martin.hubicka@gmail.com">martin.hubicka@gmail.com</a>. Žádost odesílejte z emailu registrovaném v systému.</p>	
	<br> 
    <p>Admin</p> 	 
</body>
</html>