<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <style>
		 body { font-size: 22px; }
    </style>
</head>
<body>
    <p>aaa</p>
    <p>aaaa <strong><span>{$temppass}</span></strong> ddsadsa</p>
	 <p>sdadsa</p>
	 sdasdsadsa
	 <br>
	 <br>
	 <p>sadadsadsda</p>	
	 <p>sdad adsda asd </p> 
	 
</body>
</html>