.disabled {
    pointer-events: none;
    opacity: 0.4;
}
	body {
  			padding-top: 3.5rem;
		}
.row { margin-bottom: 1.5rem; }

.w2rem {width: 2rem; }
.w3rem {width: 3rem; }
.w4rem {width: 4rem; }
.w5rem {width: 5rem; }
.w10rem {width: 10rem; }

