.disabled {
    pointer-events: none;
    opacity: 0.4;
}
	body {
  			padding-top: 3.5rem;
		}
.row { margin-bottom: 1.5rem; }

.w2rem {width: 2rem; }
.w3rem {width: 3rem; }
.w4rem {width: 4rem; }
.w5rem {width: 5rem; }
.w6rem {width: 6rem; }
.w7rem {width: 7rem; }
.w8rem {width: 8rem; }
.w9rem {width: 9rem; }
.w10rem {width: 10rem; }

